---
title: This is the blog
_content:
  posts: 
    limit: 10
    paginate: true
    order: name
---
%section#posts
  - content.posts.each do |post|
    %article.post
        %a{href: post.url}
        =  post.title
      = post.content
= paginate


